*{margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}
body{
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    /* border: 1px solid;  */
    padding: 2%;
    float: left; 
    width: 100%; 
    background: linear-gradient(rgba(17, 54, 0,0.52),rgba(17, 54, 0,0.72));
    /* background-color: white;  */
    /* box-shadow: 0px 1px 2px black; */
}
.title{
    float: left;
    width: 30%;
    font-size: 2rem;
    text-shadow: 2px 2px 2px black;
    color: white;
    border-radius: 10px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
}
nav{width: 70%; float: left;}
nav ul{text-align: center; padding: 1%;}
nav ul li{display: inline;}
nav ul li a{
    padding: 2%;
    text-decoration: none;
    color: white;
    /* text-shadow: 2px 2px 2px black; */
    text-transform: uppercase;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: black;
    background-color: white;
    transition: 0.5s ease;
}
.navigation{
    float: left;
    width: 70%;
    text-align: right;
}
.navigation a{
    color: white;
    text-decoration: none;
    padding: 1% 5%;
}
.navigation a:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}
@media(max-width: 768px){
    *{margin: 0; padding: 0; box-sizing: border-box;}
    body{background-size: 100% 100vh;}
    .title{font-size: 1rem;}
    nav{display: none;}
    nav{float: left; width: 100%;}
    nav ul{}
    nav ul li{display: block; padding: 3%; background-color: whitesmoke; border: 0.1px solid rgb(17, 54, 0);}
    nav ul li a{
        padding: 3%;
        color: black;
        width: 100%;
        font-size: 1rem;
        
    }
    nav ul li a:hover{
        background: none;
    }
}
@media(min-width: 768px){
    .navigation{display: none;}
}